.execution-time {
  opacity: 0.4;
  font-weight: 100;
  transform: scaleX(0.92);
  transition: opacity 500ms;
  cursor: default;
  float: right;
}

.code_block_execution_state:hover .execution-time {
  opacity: 1;
}

.fail-error {
  color: firebrick;
}

.fail-error-title {
  font-weight: bold;
}

.fail-error-details {
  color: rgb(121, 121, 121);
  font-size: 80%;
}

.success-toggle-view-panel {
  display: none;
}