.hi-json-mark-start, .hi-json-mark-end {
  border: solid 1px #d5b58d;
  background: linear-gradient(to bottom, #fff5c1, #fbe56e);
  border-radius: 0.2em;
  display: inline-block;
  padding: 0.2em 0.25em;
  font-size: 80%;
  position: relative;
  top: -0.05em;
  color: #844800;
  /* transform: skewX(-8deg); */
}

.hi-json-mark-start {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  margin-right: 0.1em;
}

.hi-json-mark-end {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-left: 0.1em;
}