.iterable-more,
  .iterable-additional-action {
  color: cornflowerblue;
  font-style: italic;
  cursor: pointer;
  border-radius: 1em;
  transition: all 200ms;
  padding: 0 0.35em;
  padding-bottom: 0.1em;
  margin-top: 0.2em;
  font-size: 85%;
  border: none;

  background-color: rgb(224, 242, 255);
  box-shadow: 1px 1px 4px inset cornflowerblue;
}

.iterable-more.iterable-more-edge {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.iterable-additional-action {
  color: rgb(147, 155, 171);
  background-color: rgb(238, 238, 238);
  box-shadow: 1px 1px 4px inset rgb(184, 184, 184);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.iterable-more-icon {
  display: inline-block;
  min-width: 1em;
  margin: -1em 0;
}

.iterable-more-icon-running {
  position: relative;
  top: 0.5em;
}