# registry = "https://developer.blackrock.com/artifactory/api/npm/blk-npm"
# https-proxy = null
# proxy = null
https-proxy=http://webproxy.blackrock.com:8080/
proxy=http://webproxy.blackrock.com:8080/
# NODE_TLS_REJECT_UNAUTHORIZED=0
# legacy-peer-deps = true
