#contentHost .milkdown .ProseMirror {
  height: 100%;
  outline: none !important;
  padding: 0.5em 1em;

  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit;

  overflow: auto;
}

#contentHost .milkdown .ProseMirror p {
  font-size: inherit;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  margin-bottom: 0.6em;
}

#contentHost .milkdown .ProseMirror pre {
  margin: 0;
  padding: 0.1em 0.4em;
}

#contentHost .milkdown .ProseMirror blockquote {
  border-left: solid 0.4em #cbcbcb;
  padding-left: 0.8em;
  margin: 0;
  margin-bottom: 0.6em;
}

#contentHost .milkdown .ProseMirror p:last-child {
  margin-bottom: 0;
}

#contentHost .milkdown .ProseMirror ul {
  padding-left: 1em;
}

#contentHost .milkdown .ProseMirror ol {
  padding-left: 1em;
}

#contentHost .milkdown .ProseMirror table {
  border: solid 1px silver;
  box-shadow: 2px 2px 5px #00000021;
}

#contentHost .milkdown .ProseMirror table tr:nth-child(odd) {
  background: #f4f4f4;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent 1px);
}

#contentHost .milkdown .ProseMirror table tr[data-is-header=true] {
  background: #dbdbdb;
  border-bottom: solid 1px #cfcfcf;
}

#contentHost .milkdown .ProseMirror table td, #contentHost .milkdown .ProseMirror table th {
  padding: 0.2em 0.5em;
}

#contentHost .milkdown .ProseMirror milkdown-code-block {
  background: transparent;
  padding: 0;
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor {
  background: transparent;
  color: inherit;
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor .cm-scroller {
  font-family: inherit;
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor .cm-scroller .cm-activeLine {
  color: inherit;
  background: transparent;
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor.cm-focused .cm-scroller .cm-activeLine {
  background: rgba(0, 0, 0, 0.03);
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor .cm-scroller .cm-activeLineGutter {
  color: rgba(0, 0, 0, 0.41);
  background: transparent;
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor .cm-scroller .cm-gutters {
  background: transparent;
  border-right: solid 2px rgba(0, 0, 0, 0.2);
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor .cm-scroller .cm-gutters .cm-lineNumbers {
  color: rgba(0, 0, 0, 0.41);
  font-size: 90%;
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor.cm-focused .cm-scroller .cm-activeLineGutter {
  color: black;
  background: rgba(0, 0, 0, 0.03);
}

#contentHost .milkdown .ProseMirror milkdown-code-block .cm-editor .cm-cursorLayer .cm-cursor {
  border-left-color: currentColor;
}

::selection,
#contentHost .milkdown .ProseMirror ::selection {
  background: rgba(54, 141, 249, 0.38);
  border: solid 1px cornflowerblue;
  border-radius: 0.2em;
}

#contentHost .milkdown .ProseMirror h1,
  #contentHost .milkdown .ProseMirror h2,
  #contentHost .milkdown .ProseMirror h3,
  #contentHost .milkdown .ProseMirror h4,
  #contentHost .milkdown .ProseMirror h5,
  #contentHost .milkdown .ProseMirror h6 {
  font-family: inherit;
}

#contentHost .milkdown .ProseMirror h1 {
  font-size: 300%;
  font-weight: 900;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

#contentHost .milkdown .ProseMirror h2 {
  font-size: 200%;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

#contentHost .milkdown .ProseMirror h3 {
  font-size: 160%;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

#contentHost .milkdown .ProseMirror h4 {
  font-size: 140%;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

#contentHost .milkdown .ProseMirror h5 {
  font-size: 110%;
  line-height: 1;
  font-weight: bold;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

#contentHost .milkdown .ProseMirror h6 {
  font-size: 105%;
  line-height: 1;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

#contentHost .milkdown .ProseMirror hr {
  height: 0.07em;
  border: none;
  background: linear-gradient(
    to right,
    transparent -5%,
    rgba(0, 0, 0, 0.6) 30%,
    transparent 100%);
  padding: 0;
  margin: 0.7em 0;
  margin-bottom: 1.1em;
}
