.execution-time {
  opacity: 0.4;
  font-weight: 100;
  transform: scaleX(0.92);
  transition: opacity 500ms;
  cursor: default;
  float: right;
}

.code_block_execution_state:hover .execution-time {
  opacity: 1;
}

.stale {
  opacity: 0.4;
}

.json-collapse-hint {
  text-shadow: 0px 0 2px cornflowerblue;
}

.render-result-range-collapse-all {
  font-size: 0.0001px;
  position: absolute;
  transform: scaleY(0.0001);
}

.json-toggle-expand {
  color: cornflowerblue;
  font-style: italic;
  cursor: pointer;
  border-radius: 1em;
  transition: all 200ms;
  padding: 0 0.35em;
  font-size: 85%;
  border: none;

  background-color: rgb(224, 242, 255);
  box-shadow: 1px 1px 4px inset cornflowerblue;
}

.json-toggle-expand:hover {
  color: royalblue;
  background-color: rgb(236, 246, 253);
  box-shadow: 1px 1px 4px inset rgb(91, 143, 241);
}

body div .json-toggle-collapse {
  position: absolute;
  background: transparent;
  cursor: pointer;
  padding: 0;
  padding-top: 0.1em;
  padding-left: 0.3em;
  margin-left: -0.5em;
  width: 1.5em;
  height: 1.2em;
  opacity: 0.1;
  transition: all 400ms;
  border: none;
}

body div .json-toggle-collapse:before {
  position: absolute;
  content: '';
  border-radius: 1em;
  background-color: rgba(100, 148, 237, 0.094);
  box-shadow: 1px 1px 4px inset cornflowerblue;

  width: 1em;
  height: 1em;

  right: 0;
  top: 0.08em;
}

body div .json-toggle-collapse:hover {
  opacity: 1;
}

.success-toggle-view-panel {
  /* border: solid 1px silver;
  border-radius: 0.1em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.479);
  background: white;
  margin: 0.4em;
  padding: 0.3em 0.4em; */

  transition: opacity 200ms;

  user-select: none;
}

.success-toggle-view-panel button {
  font-size: inherit;
  border: solid 1px silver;
  background: whitesmoke;
  border-radius: 0.6em;
  padding: 0.1em 0.5em;
  margin: 0.2em;
  cursor: pointer;
}

.success-toggle-view-panel button:hover {
  background: rgb(226, 226, 226);
}

.success-toggle-view-panel button.selected {
  background: rgb(76, 76, 76);
  color: white;
}

.success-toggle-view-panel .success-table-button {

}

.success-toggle-view-panel .success-json-button {

}

.function-render-invoke-button {
  border: solid 1px #0061ca3b;
  background: #ffffff80;
  border-radius: 0.7em;
  padding-top: 0;
  padding-left: 0.2em;
  margin-left: -0.2em;
  margin-right: -0.1em;
  padding-right: 0.1em;
  font-size: 120%;
  box-shadow: 0.5px 1px 3px #00000040;
  cursor: pointer;
}

.code_block_execution_state table.results-html-table tr th {
  white-space: nowrap;
}