.execution-time {
  opacity: 0.4;
  font-weight: 100;
  transform: scaleX(0.92);
  transition: opacity 500ms;
  cursor: default;
  float: right;
}

.code_block_execution_state:hover .execution-time {
  opacity: 1;
}

.fail-error {
  color: firebrick;
}

.fail-error-title {
  font-weight: bold;
}

.fail-error-details {
  color: rgb(121, 121, 121);
  font-size: 80%;
}

.success-toggle-view-panel {
  border: solid 1px silver;
  border-radius: 0.1em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.479);
  background: white;
  margin: 0.4em;
  padding: 0.3em 0.4em;
  transition: opacity 200ms;

  user-select: none;
}

.success-toggle-view-panel button {
  font-size: inherit;
  border: solid 1px silver;
  background: whitesmoke;
  border-radius: 0.6em;
  padding: 0.1em 0.5em;
  margin: 0.2em;
  cursor: pointer;
}

.success-toggle-view-panel button:hover {
  background: rgb(226, 226, 226);
}

.success-toggle-view-panel button.selected {
  background: rgb(76, 76, 76);
  color: white;
}

.success-toggle-view-panel .success-table-button {

}

.success-toggle-view-panel .success-json-button {

}