html {
  box-sizing: border-box;
  font-family:
    'Noto Sans',
    'Noto Sans Math',
    'Noto Emoji',
    'Noto Sans Symbols',
    'Noto Sans Symbols 2',
    'Arial Unicode';

  background: white;
  color: black
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html #tools label, html #tools button {
  opacity: 0.7;
  transition: opacity 0.2s;
}

html.loaded-site #tools label, html.loaded-site #tools button {
  opacity: 1;
}

html #toolbar {
  position: fixed;
  right: 1.25em;
  top: 1em;
  width: 3em;
  pointer-events: none;
}

html #toolbar .accessible-caption {
  font-size: 0.000000001px;
  position: absolute;
}

html #toolbar #logo-label {
  pointer-events: all;
}

html #toolbar #logo-label #logo {
  color: #2a931b;
  position: relative;
  padding: 0.1em;
  border-radius: 3em;
  width: 3em;
  height: 3em;
  transform: rotate(-12deg);
  margin-left: -1em;
  font-size: 200%;
  background-image: repeating-linear-gradient(0deg, transparent, #4a9f4a24 2px, transparent 4px);
  box-shadow: 1px 8px 13px -2px #00000069, -2px -4px 6px 8px #ffffff inset, 2px 4px 6px 4px #91c29a inset;
}

html #toolbar #logo-label #logo:before {
  content: '';
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  border: solid 0.2em currentColor;
  border-radius: 3em;
}

html #toolbar #logo-label #logo > svg {
  position: absolute;
  left: 0.5em; top: 0.5em;
  width: 2em;
  height: 2em;
  filter: drop-shadow(2px 3px 2px #336b3375);
}

html #toolbar #format-tools {
  padding-top: 2em;
  padding-right: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

html #toolbar #format-tools button {
  pointer-events: all;
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 3em;
  border: solid 2px #b6deb0;
  background: #ffffffd9;
  transition: background-color 0.2s;
  box-shadow: 1px 5px 13px #00000017;
  cursor: pointer;
}

html #toolbar #format-tools button:hover {
  background-color: #dbebd9;
}

html #toolbar #format-tools button:before {
    content: "";
    position: absolute;
    top: -0.4em;
    left: -1em;
    width: 5em;
    height: 3.7em;
}

html #toolbar #format-tools button#dividerInsert {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  height: 0.3em;
  width: 2.2em;
  box-shadow: 1px 3px 4px #00000017;
}

html #toolbar #format-tools button#dividerInsert:before {
  top: -0.5em;
  height: 1.2em;
}

html #toolbar #format-tools button#dividerInsert >b {
  color: transparent;
}


#unicode_tools button#bold { grid-column: 1/2; border-top-right-radius: 0; border-bottom-right-radius: 0; }
#unicode_tools button#bold::before { content: '𝗕'; }

#unicode_tools button#italic { grid-column: 2/3; border-left: none; border-right: none; border-radius: 0; }
#unicode_tools button#italic::before { content: '𝘐'; }

#unicode_tools button#underlined { grid-column: 3/4; border-top-left-radius: 0; border-bottom-left-radius: 0; }
#unicode_tools button#underlined::before { content: 'U̲'; }

#unicode_tools button#joy b::before {
  content: 'ᣫ';
  position: relative;
}

#unicode_tools button#joy i::before {
  content: 'oy';
  position: relative;
  top: -0.25em;
}

#unicode_tools button#wide { grid-column: 1/2; border-top-right-radius: 0; border-bottom-right-radius: 0; }
#unicode_tools button#wide::before { content: '𝕎'; transform: scale(1.3) translateX(0.06em); display: inline-block; }

#unicode_tools button#typewriter { grid-column: 2/3; border-left: none; border-right: none; border-radius: 0; }
#unicode_tools button#typewriter::before { content: '𝚃'; transform: scale(1.5) translateX(0.02em); display: inline-block; }

#unicode_tools button#fractur { grid-column: 3/4; border-top-left-radius: 0; border-bottom-left-radius: 0; }
#unicode_tools button#fractur::before { content: '𝕱'; transform: scale(1.2) translateX(0.0em); display: inline-block; }


#unicode_tools button#cursive { grid-column: 1/3; border-top-right-radius: 0; border-bottom-right-radius: 0; }
#unicode_tools button#cursive b::before { content: '𝓒'; left: -0.1em; }

#unicode_tools button#super { grid-column: 3/4; border-top-left-radius: 0; border-bottom-left-radius: 0; }
#unicode_tools button#super b::before { content: 'ˢ'; left: -0.05em; top: -0.05em; }


#unicode_tools button#box { grid-column: 1/2; border-top-right-radius: 0; border-bottom-right-radius: 0; }
#unicode_tools button#box::before { content: '🅇'; transform: scale(1.6) translate(0.06em, -0.09em); display: inline-block; }

#unicode_tools button#plate { grid-column: 2/3; border-left: none; border-right: none; border-radius: 0; }
#unicode_tools button#plate::before { content: '🅿'; transform: scale(1.2) translateX(0.02em); display: inline-block; }

#unicode_tools button#round { grid-column: 3/4; border-top-left-radius: 0; border-bottom-left-radius: 0; }
#unicode_tools button#round::before { content: 'Ⓡ'; transform: scale(1.4) translate(-0.05em, -0.09em); display: inline-block; }


#unicode_tools button#khazad b::before {
  content: 'ᛕ';
  left: 0.09em;
  top: -0.08em;
}

#unicode_tools button#khazad i::before {
  content: 'ᚦ';
  padding: 0 0.15em;
  top: -0.3em;
  left: 0.06em;
  transform: scale(1.5);
  display: inline-block;
}


#format_textarea {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
  padding: 1em;
  outline: none;
  font: inherit;
  resize: none;
  position: absolute;
  left: 0;
  top: 0;
}

#contentHost .milkdown {
  height: 100%;
}

#version {
  position: fixed;
  bottom: 2em;
  right: 0;
  font-size: 80%;
  color: #000000;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white;
}