html {
  box-sizing: border-box;
  font-family: "Arial Unicode", "Noto Sans", "Noto Sans Math", "Noto Emoji", "Noto Sans Symbols", "Noto Sans Symbols 2";
  background: white;
  color: black
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#toolbar #tools * {
  font: inherit;
}

#toolbar #tools button {
  width: 100%;
  height: 2.7em;
  padding-top: 0;
  line-height: 0;
  margin: 0.35em;
  margin-top: 0.25em;
  margin-bottom: 0;
  border-radius: 0.5em;
  background: white;
  border: solid 1px #d6d6d6;
  box-shadow: 2px 3px 6px rgb(0, 0, 0, 0.09);
}

#toolbar #tools button.pressed {
  background: gray;
  color: white;
}

#toolbar #tools button .symbol-formatted {
  font-size: 150%;
  position: relative;
  top: 0.05em;
  font-size: 150%;
  position: relative;
  top: 0.08em;
  left: -0.02em;
}

#toolbar #tools button#italic .symbol-formatted {
  left: -0.07em;
}

#toolbar #tools button#cursive .symbol-formatted {
  left: 0.1em;
}

#toolbar #tools button#box .symbol-formatted {
  left: 0.05em;
  top: 0.08em;
}

#toolbar #tools button#plate .symbol-formatted {
  top: 0.14em;
}

#toolbar #tools button#khazad .symbol-formatted {
  left: 0.09em;
}

#toolbar #tools button#khazad .symbol-formatted-2 {
  position: relative;
  top: -0.15em;
  left: 0.06em;
  transform: scale(1.5);
  display: inline-block;
}

#format_textarea {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
  padding: 1em;
  outline: none;
  font: inherit;
  resize: none;
  position: absolute;
  left: 0;
  top: 0;
}

#contentHost .milkdown {
  height: 100%;
}

#contentHost .milkdown .ProseMirror {
  height: 100%;
  outline: none !important;
  padding-left: 1em;

  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit;
}
