html {
  box-sizing: border-box;
  font-family: "Arial Unicode", "Note Sans Math", "Note Emoji", "Noto Sans Symbols", "Noto Sans Symbols 2", "Note Sans";
  background: white;
  color: black
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#toolbar #text_tools * {
  font: inherit;
}

#toolbar #text_tools button {
  width: 100%;
  height: 2.7em;
  padding-top: 0;
  line-height: 0;
  margin: 0.35em;
  margin-top: 0.25em;
  margin-bottom: 0;
  border-radius: 0.5em;
  background: white;
  border: solid 1px #d6d6d6;
  box-shadow: 2px 3px 6px rgb(0, 0, 0, 0.09);
}

#toolbar #text_tools button.pressed {
  background: gray;
  color: white;
}

#toolbar #text_tools button .symbol-formatted {
  font-size: 150%;
  position: relative;
  top: 0.05em;
  font-size: 150%;
  position: relative;
  top: 0.08em;
  left: -0.02em;
}

#toolbar #text_tools button#italic .symbol-formatted {
  left: -0.07em;
}

#toolbar #text_tools button#cursive .symbol-formatted {
  left: 0.1em;
}

#toolbar #text_tools button#box .symbol-formatted {
  left: 0.05em;
  top: 0.08em;
}

#toolbar #text_tools button#plate .symbol-formatted {
  top: 0.14em;
}

#toolbar #text_tools button#khazad .symbol-formatted {
  left: 0.09em;
}

#toolbar #text_tools button#khazad .symbol-formatted-2 {
  position: relative;
  top: -0.15em;
  left: 0.06em;
  transform: scale(1.5);
  display: inline-block;
}

#text_textarea, #format_textarea, #rest_textarea {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
  padding: 1em;
  outline: none;
  font: inherit;
  resize: none;
  position: absolute;
  left: 0;
  top: 0;
}

#text_content .cm-editor {
  height: 100%;
  outline: none !important;
  padding-top: 0.5em;
}

#text_content .cm-scroller {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit;
}

#text_content .cm-scroller .cm-line {
  padding-left: 1em;
}

#text_content .cm-scroller .cm-line.cm-activeLine {
  background-color: unset;
}

#text_content .cm-scroller .cm-matchingBracket {
  background-color: unset;
}

.ProseMirror:focus-visible {
  outline: none;
}

.content-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}